.title {
  padding: 2rem 0;
}
.checkout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  padding-bottom: 4rem;
  min-height: 70vh;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/*********************** Delivery Method ***********************/
.deliveryOptions {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.deliveryCard {
  flex: 1;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  position: relative;
}
.deliveryCard input {
  display: none;
}
.cardContent {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  padding: 0.5rem;
  background-color: var(--color-primary-hover);
  border-radius: 50%;
  color: var(--white);
  font-size: 2.4rem;
}
.check {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #ccc;
  position: relative;
}
.active {
  border-color: var(--color-primary-hover);
}
.active .check {
  border-color: var(--color-primary-hover);
  background-color: var(--color-primary-hover);
}
.active .check::after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  color: var(--white);
}
.deliveryCard:hover {
  border-color: var(--color-primary-hover);
}

.storeMap {
  overflow: hidden;
}
.locationIcon {
  color: #e60023;
}
.clockIcon {
  color: var(--gray-600);
}
/*********************** Form ***********************/
.shippingForm {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.formRow {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.shippingForm input {
  padding: 1rem;
  font-size: 1.4rem;
  border: 1px solid #ccc;
}
.shippingForm input:focus {
  outline: none;
  border-color: var(--color-primary);
}
.selectID, .selectUB {
  min-height: 5.2rem;
  padding: 1rem;
  border-radius: 0.6rem;
  border-color: #ccc;
  outline: none;
}
.selectUB {
  width: 100%;
}
.right {
  position: sticky;
  top: 10rem;
}

@media (min-width: 768px) {
  .checkout {
    grid-template-columns: 2fr 1.5fr;
    gap: 2rem;
    min-height: 70vh;
  }
}

/* --- Responsivo --- */
@media (min-width: 1024px) {
  .checkout {
    grid-template-columns: 2fr 1fr;
    min-height: 70vh;
  }
  .deliveryOptions {
    flex-direction: row;
  }
  .formRow {
    flex-direction: row;
  }
}