.btn {
    font-family: var(--font-base);
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}
.btn-primary {
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    color: var(--white);
}
.btn-primary::before {
    content: '';
    position: absolute;
    top: 0;
    left: -102%;
    width: 100%;
    height: 100%;
    background-color: var(--boton-before-background);
    transition: left 0.4s ease;
    z-index: 0;
}
.btn-primary:hover::before {
    left: 0;
}
.btn-primary:hover {
    border-color: var(--color-primary-hover);
}
.btn-secondary {
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}
.btn-secondary:hover {
    background-color: var(--white);
    color: var(--black);
}
.btn-small {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}
.btn-medium {
    padding: 0.7rem 1.2rem;
    font-size: 1.4rem;
}
.btn-large {
    padding: 1.3rem 1.2rem;
    font-size: 1.6rem;
}