.btn {
    font-family: var(--font-base);
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.btn-primary {
    background-color: var(--color-primary);
    color: var(--white);
}
.btn-primary:not(:disabled):hover {
    background-color: var(--color-primary-hover);
}
.btn-secondary {
    background-color: transparent;
    border: 1px solid var(--color-primary-hover);
    color: var(--black);
}
.btn-secondary:not(:disabled):hover {
    background-color: var(--color-primary-hover);
    color: var(--white);
}
.btn-small {
    padding: 0.7rem 1.2rem;
    font-size: 1.2rem;
}
.btn-medium {
    padding: 0.9rem 1.4rem;
    font-size: 1.4rem;
}
.btn-large {
    padding: 1.5rem 1.4rem;
    font-size: 1.6rem;
}