.carousel {
  width: 100%;
  overflow: hidden;
}
.swiper {
  width: 100%;
}
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  max-height: 50rem;
  min-height: 25rem;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
:global(.swiper-button-prev),
:global(.swiper-button-next) {
  color: black;
  transform: scale(0.35);
}
:global(.swiper-pagination-bullet) {
  background-color: var(--gray-300);
  opacity: 0.5;
  transform: scale(1.2);
}
:global(.swiper-pagination-bullet-active) {
  background-color: var(--gray-400);
  opacity: 1;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .slide {
    height: 40vh;
  }
}