.productDetail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
  padding: 5rem;
}

/* IZQUIERDA: IMAGEN */
.productImage {
  width: 100%;
  height: 70rem;
  object-fit: cover;
}

/* DERECHA: DETALLES */
.right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.title {
  display: flex;
  flex-direction: column;
}
.productName {
  font-size: 2.4rem;
}
.brandName {
  font-size: 2rem;
  color: #666;
}

.priceBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.promotion {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.properties {
  padding-bottom: 1.5rem;
}
.prices {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
}
.description {
  font-size: 1.4rem;
}
.price {
  font-size: 1.6rem;
}
.promoNote {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  color: #2e7d32;
}
.discountPercent {
  position: relative;
  background-color: #e60023; /* rojo Ripley */
  color: white;
  font-size: 1.4rem;
  padding: 0.8rem 0.7rem 0.8rem 0.5rem;
  line-height: 1;
}
.discountPercent::before {
  content: "";
  position: absolute;
  left: -9px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 9px solid #e60023;
}
.discountPrice {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
}
.originalPrice {
  text-decoration: line-through;
  color: #999;
  font-size: 1.6rem;
}
.section {
  margin-top: 1rem;
}
.label {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.colorName {
  font-weight: normal;
}
.colors, .sizes {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.addToCartBtn {
  margin-top: 1rem;
  width: 100%;
}