.category {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem 0;
}
.showFilters {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  max-width: 12rem;
}
.loading {
  text-align: center;
  padding: 3rem;
}
.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1.4rem 0;
}
/* Overlay oscuro */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 2000;
}
.overlay.show {
  opacity: 1;
  visibility: visible;
}
/* Sidebar */
.mobileSidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  max-width: 320px;
  height: 100%;
  background: #f8f8f8;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 2001;
  overflow-y: auto;
}
.mobileSidebar.open {
  transform: translateX(0);
}

@media (min-width: 576px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .category {
    grid-template-columns: 1fr 4fr;
    gap: 2rem;
    padding: 2rem 0;
  }
}