.header {
  width: 100%;
  background: white;
  border-bottom: 1px solid #eee;
  padding: 16px 0;
  position: relative;
}
.top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.steps {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 40px;
  align-items: center;
}
.step {
  text-align: center;
}
.circle {
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 4px;
}
.active {
  background-color: var(--color-secondary);
  border-color: var(--color-accent);
}
.label {
  font-size: 14px;
  color: #777;
}
.activeText {
  color: #111;
  font-weight: 600;
}