.auth,
.auth__box,
.auth__form,
.auth__group {
    display: flex;
    flex-direction: column;
}
.auth {
    align-items: center;
}
.auth__box {
    gap: 4rem;
    width: 40%;
    padding: 8rem 0;
}
.auth__title {
    text-align: center;
}
.auth__form {
    gap: 3rem;
}
.auth__button {
    margin-top: 4rem;
    padding: 1.3rem 1.2rem;
}

