.auth,
.box,
.form,
.group {
  display: flex;
  flex-direction: column;
}
.auth {
  align-items: center;
}
.box {
  gap: 1rem;
  width: 90%;
  padding: 2rem 0;
}
.title {
  text-align: center;
  font-size: 2rem;
}
.top {
  text-align: center;
}
.form {
  gap: 1.5rem;
  margin-top: 1.5rem;
}
.button {
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.4rem;
}
.error {
  color: red;
  font-size: 1.3rem;
  text-align: center;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1.5rem 0;
}
.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}
.separator::before {
  margin-right: 0.75rem;
}
.separator::after {
  margin-left: 0.75rem;
}
.separator span {
  color: var(--gray-600);
  font-size: 1.4rem;
}
.socialButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .box {
    width: 60%;
    padding: 3rem 2rem;
    gap: 2rem;
  }
  .title {
    font-size: 2.4rem;
  }
  .form {
    gap: 2rem;
    margin-top: 2rem;
  }
  .socialButtons {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .box {
    width: 50%;
    padding: 5rem 0;
    gap: 3rem;
  }
  .title {
    font-size: 2.6rem;
  }
  .button {
    font-size: 1.6rem;
  }
}

@media (min-width: 1440px) {
  .box {
    width: 40%;
    padding: 8rem 0;
    gap: 3rem;
  }
  .form {
    gap: 3rem;
  }
  .button {
    margin-top: 4rem;
    padding: 1.3rem 1.2rem;
  }
  .separator span {
    font-size: 1.4rem;
  }
  .socialButtons {
    gap: 4rem;
  }
}
