.category {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2rem;
  padding: 2rem 0;
}
.categoryName {
  position: relative;
  margin-bottom: 1.5rem;
  padding-left: 2rem; /* espacio para la barra */
}
.categoryName::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;           /* grosor */
  height: 70%;          /* alto relativo al texto */
  background-color: var(--color-primary-hover); /* morado */
}
.filters {
  border-right: 1px solid #eee;
  padding-right: 1rem;
}
.filterBlock {
  margin-bottom: 2rem;
}
.filterTitle {
  font-weight: 600;
  margin-bottom: 1rem;
}
.inputs {
  display: flex;
  gap: 1rem;
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
/* 🔥 ocultar checkbox real */
.checkbox input {
  display: none;
}
/* 🔥 checkbox visual */
.customCheckbox {
  width: 1.8rem;
  height: 1.8rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  display: inline-block;
  position: relative;
  transition: all 0.2s ease;
}
/* 🔥 cuando está activo */
.checkbox input:checked + .customCheckbox {
  background-color: var(--color-primary-hover);
  border-color: var(--color-primary-hover);
}
/* 🔥 check interno */
.checkbox input:checked + .customCheckbox::after {
  content: "✔";
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}
/* 🔥 hover */
.checkbox:hover .customCheckbox {
  border-color: var(--color-primary-hover);
}

.filterActions {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.loading {
  text-align: center;
  padding: 3rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1.4rem 0;
}