.item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  border-bottom: 0.1rem solid #ddd;
}
.imageContainer {
  text-align: center;
}
.image {
  width: 50%;
  object-fit: cover;
  border-radius: 0.8rem;
}
.info {
  text-align: center;
}
.name {
  font-size: 1.6rem;
  margin: 0;
}
.brand {
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}
.sku {
  font-size: 1.2rem;
  color: #A9A9A9;
  margin-bottom: 0.3rem;
}
.colorSize {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.colorSize span {
  font-size: 1.2rem;
  background-color: #dedede;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}
.quantity {
  padding-top: 0.3rem;
  font-size: 1.2rem;
}
.verticalLine {
  border: 0.05rem solid;
}
.priceBlock {
  padding: 0 2rem;
  text-align: center;
}
.originalPrice {
  text-decoration: line-through;
  color: #999;
}
.price {
  font-weight: bold;
}
.qtyControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}
.buttonDI {
  padding: 0 2rem;
}
.buttonDI button {
  width: 28px;
  height: 28px;
  border: 1px solid #aaa;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}
.buttonDI button:hover {
  background: #eee;
}
.removeBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--color-secondary);
}
.removeBtn:hover {
  color: var(--color-accent);
}

/* --- Responsivo --- */
@media (min-width: 480px) {
  .item {
    grid-template-columns: 0.5fr 1fr;
  }
  .priceBlock {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .qtyControls {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .imageContainer {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }
  .image {
    width: 60%;
  }
}

@media (min-width: 768px) {
  .image {
    width: 100%;
  }
}

/* --- Responsivo --- */
@media (min-width: 1024px) {
  .item {
    grid-template-columns: 0.6fr 1fr auto auto;
  }
  .imageContainer {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .info {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: left;
  }
  .colorSize {
    justify-content: flex-start;
  }
  .priceBlock {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  .qtyControls {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}