/* ===== GENERAL ===== */
.title {
  padding: 2rem 0;
}

/* ===== LAYOUT ===== */
.layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  min-height: 70vh;
  padding-bottom: 4rem;
}

/* ===== LEFT ===== */
.left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* ===== RIGHT ===== */
.right {
  position: sticky;
  top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* ===== CARD ===== */
.card {
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fafafa;
  height: fit-content;
}
.cardTitle {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  text-align: center;
  color: var(--color-secondary);
  font-weight: 600;
}
.divider {
    height: 0.1rem;
    background-color: #e5e5e5;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.card p {
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
}
.userPhone {
  padding: 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

@media (min-width: 768px) {
  .layout {
    grid-template-columns: 1fr 0.8fr;
  }
}

@media (min-width: 1024px) {
  .layout {
    grid-template-columns: 2fr 1fr;
    align-items: flex-start;
  }
}