.footer {
    background-color: var(--background-footer);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.08);
}
.footer :global(.container) {
    padding: 4rem 1.5rem;
}
.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.footerTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}
.footerLogo {
    height: 4.5rem;
}
.footerSocials {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}
.footerSocialLink {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    width: 2.6rem;
    height: 2.6rem;
    color: var(--color-primary);
    transition: 0.3s ease;
}
.footerSocialLink:hover {
    background-color: var(--color-primary);
    color: var(--white);
}
.footerSocialIcon {
    height: 1.4rem;
}
.footerSection {
    display: flex;
    flex-direction: column;
}
.footerSectionTitle {
    text-align: center;
}
.footerList {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
}
.footerLink {
    font-size: 1.1rem;
    display: flex;
    gap: 0.7rem;
    align-items: center;
    color: var(--black);
    transition: 0.3s ease;
}
.footerLink:hover {
    color: var(--color-secondary);
    text-decoration: underline;
}
.footerIcon {
    color: var(--color-primary);
}
.footerText {
    font-size: 1.3rem;
    line-height: 2.2rem;
    text-align: center;
}
.footerNewsletter {
    display: flex;
    justify-content: center;
    padding-top: 1.4rem;
}
.footerNewsletterInput {
    border-radius: 0.5rem 0 0 0.5rem;
}
.footerNewsletterButton {
    border-radius: 0 0.5rem 0.5rem 0;
}
.footerPayment {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.footerPaymentIcon {
    height: 5rem;
}
.footerBottom {
    width: 100%;
}
.footerCopy {
    font-size: 1.2rem;
    font-weight: 600;
}

@media (min-width: 768px) {
    .footerContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: flex-start;
        gap: 0;
    }
    .footerTop {
        align-items: center;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        height: 100%;
        justify-content: flex-start;
    }
    .footerTop,
    .footerSection {
        padding: 0 1.5rem 2.8rem;
    }
    .footerSection:nth-child(4) {
        grid-column: 1/4;
        grid-row: 2/3;
    }
    .footerList {
        align-items: flex-start;
    }
    .footerPayment {
        grid-column: 1/4;
        grid-row: 3/4;
    }
    .footerBottom {
        grid-column: 1/4;
        grid-row: 4/5;
        padding-top: 4rem;
    }
    .footerCopy {
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .footer :global(.container) {
        padding: 4.2rem 2.8rem;
    }
    .footerContainer {
        grid-template-columns: repeat(4, 1fr);
    }
    .footerTop {
        justify-content: flex-start;
        height: 100%;
    }
    .footerLogo {
        height: 5.5rem;
    }
    .footerSection:nth-child(4) {
        grid-column: 4/5;
        grid-row: 1/2;
    }
    .footerSection:nth-child(4) .footerSectionTitle {
        padding-bottom: 0.7rem;
        text-align: center;
    }
    .footerSectionTitle {
        text-align: left;
    }
    .footerNewsletter,
    .footerBottom {
        text-align: center;
    }
    .footerPayment {
        grid-column: 1/5;
        grid-row: 2/3;
    }
    .footerPaymentIcon {
        height: 6rem;
    }
    .footerBottom {
        grid-column: 1/5;
        grid-row: 3/4;
    }
}

